<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<header>
  <!-- <link rel="stylesheet" href="styles/styles.css"> -->
  <nav id="nav-bar">
    <ul class="horizontal-nav">
      <!-- Changed this to 3 plain links because Josh said it doesn't need to be dynamic -->
      <li><a href="/">Home</a></li>
      <li><a href="/profiles">Clients</a></li>
      <li><a href="/products">Products</a></li>
      <li><a href="/invoices">Invoices</a></li>
    </ul> 
  </nav>
  
</header>
