<head>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<main>
    <div>
        <h1 id="home-page">Welcome to Express Billing</h1>
    </div>
    <p id="home-para">Welcome to our billing portal, where we are delighted to welcome you! <br>
        Take control of your billing, effortlessly navigate through invoices, and seamlessly explore our array of services. <br>
        This user-friendly platform was meticulously crafted by a team of four dedicated individuals,<br>
        ensuring a smooth and efficient experience for all our users.
    </p>
</main>